[build]
builder = "nixpacks"

[deploy]
startCommand = "npm run db:push && npm run start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
